
<div class="main-content-container">
   <header class="header-row">
      <h2 class="header-title">Current Basket</h2>
         <div class="flex-price">
         <h4 class="currency">Total Value: £</h5>
      <h4 class="total-value">{{padNumber subTotal}}</h4>
      </div>
   </header>
   <div class="basket-view">
      
      <ul class="book-list">
       
         {{#each basketItems}}
         
         <li class="single-book">
            <div class="book-basket-container">
               <div class="book-cover-basket-wrap">
                  <img class="book-cover-basket" src="{{bookImage}}" alt="book-cover">
               </div>
               <div class="book-info-basket">
                  <div class="book-title-basket">
                     <h4 class="bold-book-info">{{ bookTitle }}</h3>
                  </div>
                  <div class="book-author-basket">
                     <h5>{{ bookAuthor }}</h4>
                  </div>
               </div>
               <div class="book-qty-basket">
                  <form action="#">
                     <label for="quantity">Qty</label>
                     <input type="number" class="qty" id="quantity" name="quantity" value="{{ quantity }}" min="1" max="99">
          
                  </form>
               </div>
               <div class="book-basket-price">
                  <h4 class="bold-book-info">Book price</h4>
                  <div class="flex-price">
                  <h5 class="currency">£</h5>
                  <h5 class="bprice" id="book-price">{{padNumber price }}</h5>
                  </div>
               </div>
               <div class="book-basket-subtotal">
               
                  <h4 class="bold-book-info">Sub-total</h4>
                  <div class="flex-price">
                  <h5 class="currency">£</h5>
       
                  <h5 class="total-price" id="total-price">{{padNumber total }}</h5>
            
                  </div>
               </div>
            </div>
         </li>
         
         {{/each}}
         </div>
      </ul>
      
   </div>

</script>