<div class="main-content-container">
    <header class="header-row">
        <h2 class="header-title">Checkout</h2>
    </header>

    <div class="container" id="flex">
        <div class="checkout-container">
            <div class="address-container">
                <div class="address-title" id="checkout-section-title">
                    <h3 class="checkout-section">1) Address Details</h3>
                </div>
                <div class="container" id="checkout-container">
                    <small class="address-text" id="checkout-info-address">{{user.username}}</small>
                    <small class="address-text" id="checkout-info-address">{{userAddress.addressLine1}}</small>
                    <small class="address-text" id="checkout-info-address">{{userAddress.addressLine2}}</small>
                    <small class="address-text" id="checkout-info-address">{{userAddress.addressLine3}}</small>
                    <small class="address-text" id="checkout-info-address">{{userAddress.town}}</small>
                    <small class="address-text" id="checkout-info-address">{{userAddress.postcode}}</small>
                </div>
            </div>
            <div class="delivery-container">
                <div class="delivery-title" id="checkout-section-title">
                    <h3 class="checkout-section">2) Delivery Method</h3>
                </div>
                <div class="container" id="checkout-container">
                    <div class="methods">
                        <div class="checkout-delivery-method" id="method-with-border">  
                            <input type="radio" id="delivery-method"value="3-5-delivery" name="delivery-method">
                            <label for="3-5-delivery">3-5 Days Delivery</label>
                            <div class="method-info">
                                <small id="checkout-info">Standard</small>
                                <small class="delivery-price" id="checkout-info">£0.00</small>
                            </div>
                        </div>
                        <div class="checkout-delivery-method" id="method-with-border">
                            <input type="radio" id="delivery-method" value="next-day-delivery" name="delivery-method">
                            <label for="next-day-delivery">Next Day Delivery</label>
                              <div class="method-info">
                                <small id="checkout-info">Express</small>
                                <small class="delivery-price"id="checkout-info">£3.99</small>
                            </div>
                        </div>
                        <div class="checkout-delivery-method" id="method-with-border">
                            <input type="radio" id="delivery-method" value="before-12-day-delivery" name="delivery-method">
                            <label for="before-12-day-delivery">Before 12pm Day Delivery</label>
                            <div class="method-info">
                                <small id="checkout-info">Express Before 12pm</small>
                                <small class="delivery-price" id="checkout-info">£5.99</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delivery-container">
                <div class="delivery-title" id="checkout-section-title">
                    <h3 class="checkout-section">3) Payment Method</h3>
                </div>
                <div class="container" id="checkout-container">
                     <div class="checkout-payment-method" id="method-with-border">
                            <input type="radio" id="payment-method" value="payment-method" name="payment-method">
                            <label for="payment-method">Credit Card Payment</label>
                            <div class="method-info">
                                <small id="checkout-info">Mastercard/ VISA</small>
                     
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="padding-gap"></div>
        <div class="order-sum-box">

            <div class="address-title" id="checkout-section-title">
                <h3 class="checkout-section">Order Summary</h3>
            </div>
            {{#each items}}

            <div class="book-container">
                <div class="checkout-book-image-cover">
                    <img class="checkout-book-image" src="{{this.bookImage}}">
                </div>
                <div class="checkout-content">
                    <div class="checkout-book-details">
                        <p class="checkout-book-details"><b>{{this.bookTitle}}</b></p>
                        <small class="checkout-book-details">{{this.bookType}}</small>
                        <small class="checkout-book-details">Qty: {{this.quantity}}</small>
                        <small class="checkout-book-details">£{{this.price}}</small>
                    </div>
                </div>
            </div>
            <hr class="checkout-container-divider">
            {{/each}}
            <div class="checkout-subtotal-postage">
                <h4>Product Subtotal: £{{subTotal}}</h4>
                <h4>Shipping Cost: ADD PRICE </h4>
                <h4>Combined Total: ADD PRICE </h4>
            </div>
        </div>
    </div>
</div>
</div>