<div class="dashboard-container">
    <div class="dashboard-header-section">
        <div class="header-flex">
            <div class="header-title">
                <h3>Edit Book</h3>
            </div>
        </div>
    </div>
    <div class="book-title">
        <h3>{{book.title}}</h3>
    </div>
    <div id="{{book._id}}" class="book-list book-id edit-box">
        <div class="book-edit-box edit-boxes">
            <h5 class="edit-text">Title</h5>
            <input id="edit-title" class="edit-input" value="{{book.title}}" type="text">
            <h5 class="edit-text">Author</h5>
            <input id="edit-author" class="edit-input" value="{{book.author}}" type="text">
            <h5 class="edit-text">Genre</h5>
            <input id="edit-genre" class="edit-input" type="text" value="{{book.genre}}">
            <div id="book-box">
                <button id="{{book._id}}" class="book-button save-changes-book">Save Changes</button>
            </div>
        </div>
    </div>
    {{#each book.skus}}
    <div class="book-title" id="book-type">
        <h3>{{this.type}}</h3>
    </div>
    <div class="book-list sku edit-box">
        <div id="{{this._id}}" class="book-edit-box sku-id edit-boxes">
            <h5 class="edit-text">Sku</h5>
            <input id="edit-sku-{{@index}}" class="edit-input" type="text" value="{{this.sku}}"
                placeholder="{{this.sku}}">
            <h5 class="edit-text">Category</h5>
            <input id="edit-category-{{@index}}" class="edit-input" type="text" value="{{this.category}}"
                placeholder="{{this.category}}">
            <h5 class="edit-text">Quantity</h5>
            <input id="edit-quantity-{{@index}}" class="edit-input" type="text" value="{{this.quantity}}"
                placeholder="{{this.quantity}}">
            <h5 class="edit-text">Price</h5>
            <input id="edit-price-{{@index}}" class="edit-input" type="text" value="{{this.price}}"
                placeholder="£{{this.price}}">
            <input id="edit-type-{{@index}}" hidden="true" class="edit-type" type="text" value="{{this.type}}">
            <div id="book-box">
                <button id="{{this._id}} {{@index}}" class="book-button save-changes-sku {{lowercase this.type}}">Save
                    Changes</button>
            </div>
        </div>
    </div>
    {{/each}}
    <div id="book-box">
        <button id="add-sku" class="book-button">Add Sku</button>
    </div>
    <div class="new-sku-box" id="{{book._id}}">
        <div class="new-sku" id="sku">
        </div>
    </div>
</div>