<div class="content-container">
    <div class="personal-container">
        <div class="personal-details-header">
            <h1>Change Address Details</h1>
        </div>
        <section class="details">
            <p>To change the address linked to your account, please enter your new address details</p>
            <div class="checkbox-section">
                <div class="checkbox-input-address">

                    <input type="checkbox" id="address" name="address">
                    <label for="address">Address</label>
                </div>
                <div class="checkbox-input-shipping">
                    <input type="checkbox" id="shipping-address" name="shippingAddress">
                    <label for="shipping-address">Shipping</label>
                </div>
            </div>
             <div class="error"></div>
            <form action="" id="address-form">
                <div class="form-section">
                    <div class="address-field">
                        <div class="address-label" id="account-form">
                            <h3>Address Line 1</h3>
                        </div>

                        <div class="flex-box">
                            <div class="address-value" id="account-form">
                                <input type="text" class="form-control mb-4" id="address-line1" name="addressLine1"
                                    placeholder="Address Line 1" value="{{user.addressLine1}}">
                            </div>
                        </div>
                            <div class="error"></div>
                        <hr class="personal-divider">
                        <div class="address-field">
                            <div class="address-label" id="account-form">
                                <h3>Address Line 2</h3>
                            </div>

                            <div class="flex-box">
                                <div class="address-value" id="account-form">
                                    <input type="text" class="form-control mb-4" id="address-line2" name="addressLine2"
                                        placeholder="Address Line 2" value="{{user.addressLine2}}">
                                </div>
                            </div>
                        </div>
                        <hr class="personal-divider">
                        <div class="address-field">
                            <div class="address-label" id="account-form">
                                <h3>Town</h3>
                            </div>
                            <div class="flex-box">
                                <div class="address-value" id="account-form">
                                    <input type="text" class="form-control mb-4" id="town" name="town"
                                        placeholder="Town" value="{{user.town}}">
                                </div>
                            </div>
                        </div>
                             <div class="error"></div>
                        <hr class="personal-divider">
                        <div class="address-field">
                            <div class="address-label" id="account-form">
                                <h3>Postcode</h3>
                            </div>
                            <div class="flex-box">
                                <div class="address-value" id="account-form">
                                    <input type="text" class="form-control mb-4" id="postcode" name="postcode"
                                        placeholder="Postcode" value="{{user.postcode}}">
                                </div>
                            </div>
                        </div>
                         <div class="error"></div>
                        <div class="btn-flex">
                            {{!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}"> --}}
                            <button class="btn btn-primary btn-address account-address-update"
                                id="submit-btn account-change" type="submit">Update Address</button>
                            <a class="cancel-change" href="/account">Cancel</a>
                        </div>
            </form>

    </div>
</div>
</form>
{{#if message }}
<h4 class="alert alert-danger mt-4">{{ message }}</h4>
{{/if}}
</section>
</div>
</div>
</div>