<div class="main-content-container">
    <header class="header-row">
        <h1 class="header-title">{{genre}}</h1>
    </header>
    <div class="row">
        {{#each books }}
            {{#each this.skus}}
                <div class="col">
                    <div class="book" id="{{../_id}}">
                        <div class="image-wrap">
                            <div class="image-container-book">
                                <a href="/book/{{../_id}}/{{_id}}">
                                    <img class="book-cover" src="/{{ ../imagePath }}">
                                </a>
                            </div>
                        </div>
                        <div class="book-details">
                            <div class="book-title">
                                <h4>{{ ../title }}</h4>
                            </div>
                            <div class="book-author">
                                <small>{{ ../author }}</small>
                            </div>
                            <div class="book-type">
                                <small class="text-faded">{{ type }}</small>
                            </div>
                            <div class="book-price">

                                <small class="text-faded">£{{ price }}</small>
                            </div>
                            <div class="basket">
                                <a class="wishlist">
                                    <svg class="wishlist-svg-click" id="wishlist-click"
                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24"  {{#inList ../_id ../../userWishlist }}
                                         fill="#f38686" {{/inList}} fill="none"
                                         stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <path
                                                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                        </path>
                                    </svg>
                                </a>
                                <form action="/add-to-basket/{{ ../_id }}" id="book-button" method="POST">
                                    <button id="add-to-basket-button" role="button">Add to basket</button>
                                    <input type="hidden" id="skuIndex" name="skuIndex" value="{{@index}}">
                                    <input type="hidden" id="bookType" name="bookType" value="{{type}}">
                                    <input type="hidden" id="bookTypeId" name="bookSkuId" value="{{_id}}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</div>